:root {
  --font-inter: 'Inter', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.66);
  font-size: 18px;
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(135deg, #12274d, #0a1424, #050d1a);
  /*background: linear-gradient(45deg, #070a3c, #4b0a57, #350808);*/
  /*background: linear-gradient(45deg, #ff7e5f, #ff9a7a, #feb47b);*/
  padding: 8vh 6vw 0 6vw;
  background-attachment: fixed;
  background-size: cover;
}

/*
main {
  background: linear-gradient(135deg, #12274d, #0a1424, #050d1a);
  padding: 8vh 6vw;
  background-attachment: fixed;
  background-size: cover;
}
*/

p {
  margin-bottom: 25px;
}

h1 {
  margin-bottom: 10px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.854);
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.section-heading {
  Position: sticky;
  top:0;
  backdrop-filter: blur(2px);
  padding: 16px 0;
  z-index: 100;
}

h3 {
  margin-bottom: 5px;
}

#about {
  margin-top: 100px;
}

section:not(:first-of-type), footer {
  margin-top: 75px;
}

#intro-icons {
  display: flex;
  justify-content: flex-start;
  img {
    margin-right: 20px;
    opacity: 0.6;
    transition: opacity 0.15s;
  }
  img:hover {
    opacity: 1;
  }
}

.icon {
  width: 30px;
}

#skills {
  h3 {
    margin-bottom: 20px;
  }
  h3:not(:first-of-type) {
    margin-top: 35px;
  }
}

.list {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  li:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.list-wrap {
  display: flex;
  justify-content: flex-start;
  img {
    width: 18px;
    margin-left: 6px;
  }
}

.project-link {
  text-decoration: none;
}

.project-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2.4px solid transparent;
  transition: border-color 0.15s ease, background-colour;
  width: 100%;
  margin-bottom: 50px;
}

.project-container:hover {
  background: linear-gradient(135deg, rgba(141, 141, 141, 0.2), rgba(11, 15, 59, 0.2));
  border-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.thumbnail-wrap {
  position: relative;
  display: inline-block;
  width: 150vw;
  border-radius: 6px;
  overflow: hidden;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

.thumbnail-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(90deg, transparent, white);
  opacity: 0.1;
}

.tools {
  font-size: 15px;
  border-radius: 30px;
  background: linear-gradient(90deg, rgb(59, 33, 119), #12294f);
  padding: 2px 10px;
  margin-bottom: 40px;
}

.status {
  background: linear-gradient(90deg, #c646b3, #850d73);
}

.tools:not(:first-of-type) {
  margin-left: 8px;
}

footer {
  background: #050d1a;
  padding: 20px 20px 30px 20px;
  p {
    text-align: center;
  }
  p:not(:first-of-type) {
    text-align: center;
    margin-bottom: 0;
  }
}

footer .rights {
  font-size: 14px;
}

@media (width < 570px) {
  .project-container {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .thumbnail-wrap {
    width: 100%;
  }
  .thumbnail-wrap::after {
    background: linear-gradient(transparent, white);
  }
}

@media (width > 960px) {
  #intro {
    position: fixed;
    height: 100vh;
    width: 30%;
    inset: 0;
    padding: 10vh 4vw;
    h2 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 60px;
    }
  }
  #about {
    margin-top: 0;
  }
  body {
    padding-left: 38%;
    padding-top: 10vh;
  }
}